version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: overengineered_calc
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
      build: .
      ports:
        - "8080:8080"
      environment:
        DB_HOST: db
        DB_PORT: 5432
        DB_USER: postgres
        DB_PASSWORD: postgres
        DB_NAME: overengineered_calc
        DB_SSLMODE: disable
        PORT: 8080
        JWT_SECRET: "Calculator_secret"
      depends_on:
        - db

volumes:
  pgdata:
